*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: monospace;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
/* @keyframes bgcolor{
    from{
        background-color: aliceblue;
        scale: 1;
        
    }
    to{
        background-color: red;
        scale: 0.5;
        border-radius: 50px;
    }
} */

@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;

}
@keyframes rotateborder{
    from {
        --rotate: 0deg;
    }
    to{
        --rotate:360deg;
    }
}
#box{
    max-width: 350px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    box-shadow: 0 0 0px rgb(193, 14, 163);
    border-radius:15px ;
    background: linear-gradient(black ) padding-box ,
    conic-gradient(from var(--rotate),black,rgb(193,14,163),black)border-box;
    border:0px solid rgb(225,225, 225,0);
    animation: rotateborder 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    transition: all 0.3s linear;
    text-shadow: 0 0 0px rgb(193, 14, 163);
}
#box:hover{
    animation-play-state: running;
    border-width: 5px;
    color:rgb(193,14,163);
    box-shadow: 0 0 60px rgb(193, 14, 163);
    text-shadow: 0 0 10px rgb(193, 14, 163);

    
}
#box img{
height: 100%;width: 100%;
}